<div class="col-12 col-md-3 m-2 py-2 card" style="height: 15vmax;">
    <div class="border-bottom mb-3">
            <h5 class="ms-3 text-secondary">Price Details </h5>
            
    </div>
    <div class="row mb-3">
        <div class="col-6 ">
            Price(<%=quantity %> item)
        </div>
        <div class="col-6 ">
            <%=totalPrice %> 
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 ">
            Delivery Charges
        </div>
        <div class="col-6 ">
            <%=deliveryCharge %> 
        </div>
    </div>
    <div class="row  border-bottom mb-3">
        <div class="col-6 ">
            Packing Charges
        </div>
        <div class="col-6 ">
            <%=packagingCharge %> 
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 ">
            Total Payable
        </div>
        <div class="col-6 ">
            <%=total %> 
        </div>
    </div>
</div>