<% layout('/layouts/newbp') %> 
<div class="p-5">
<form action="/admin/createcategory" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="row">
        <div class="col-6 mb-3 ">
            <label for="category">Create Category:</label>
            <input type="text" class="form-control" name="category" id="category" required>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" type="file" name="image" id="image" required>
        </div>
        <div class="col-6 mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<table id="categoryList" class="display table table-secondary">
    <thead>
        <tr>
            <th> Number </th>
            <th>Category</th>
            <th>Image</th>
            <th >Edit</th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>
    <% for(let i=0;i<categories.length;i++){ %> 
        <tr>
           
            <td><%= i+1 %> </td>
            <td><%= categories[i].category %> </td>
            <td><img src="<%=categories[i].image.url %>" alt=""></td>
            
            <td><a href="/admin/category/<%=categories[i]._id %>" class="btn btn-warning">Edit</a></td>
            <td><form action="/admin/category/<%=categories[i]._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Do you wann Delete this Category.')">Delete</button>
                </form>
            </td>
           
          
        </tr>
        <% } %> 
    </tbody>
</table>          

</div>
<script type="text/javascript" charset="utf8"
    src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
$(function () {
    $("#categoryList").dataTable();
});
</script>

