<% layout('/layouts/userbp') %> 
 <!-- Start Content -->
 <div class="container py-5">
    <div class="row">

        <div class="col-lg-3 p-3">
            <div class="card mb-3 text-center"   style="height:12rem; background-image:url(<%=category.image.url%>);background-size: contain;">
                <h1 class="text-white my-auto " style="-webkit-text-stroke: 2px black;"><%=category.category%> </h1>
                <input type="text" name="" id="catid" value="<%=category.category%>" hidden>
            </div>
            <div class="card p-3">

                <h1 class="h2 pb-4 text-success">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Gender
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Men</a></li>
                            <li><a class="text-decoration-none" href="#">Women</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Sale
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Sport</a></li>
                            <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Product
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Bag</a></li>
                            <li><a class="text-decoration-none" href="#">Sweather</a></li>
                            <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h5 text-dark text-decoration-none mr-3" href="#">Sort By:</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h6 text-success text-decoration-none mr-3" onclick="lowToHigh('<%= category.category%>')">Price Low-High</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h6 text-success text-decoration-none" onclick="highToLow('<%= category.category%>')">Price High-Low</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h6 text-success text-decoration-none" onclick="latest('<%= category.category%>')">Latest First</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Featured</option>
                            <option>A to Z</option>
                            <option>Item</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="catItems" class="row">
                

            </div>
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
<script src="/js/addtocart.js"></script>
<script src="/js/category/filterbyprice.js"></script>
<script src="/js/category/onload.js"></script>
