<% layout('/layouts/userbp') %> 
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        
        <% for(let i=0;i<1;i++){ %> 

            <% if(i===0){ %> 
        <div class="carousel-item active">
            <% }else{%> 
        <div class="carousel-item">
                <% } %> 
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <% for(let img of banners[i].image ){ %> 
                        <img class="content-cover" width="588px" height="588px" src="<%=img.url %>" alt="">
                        <% } %> 
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"><%= banners[i].mainHeading  %> </h1>
                            <h3 class="h2"><%= banners[i].subHeading  %> </h3>
                            <p>
                                <%= banners[i].description  %> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
        
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
 <!-- End Banner Hero -->

  <!-- Start Categories of The Month -->
  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
          
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/user/category/men"><img src="/assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Mens</h5>
            <p class="text-center"><a href="/user/category/men" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/user/category/shoes"><img src="/assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
            <p class="text-center"><a  href="/user/category/shoes" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/user/category/accessories"><img src="/assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
            <p class="text-center"><a href="/user/category/Accessories" class="btn btn-success">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
               
            </div>
        </div>
        <div class="row">
            <% for(let pro of product){ %> 
            <div class="col-12 p-2 pb-3 product-wap card rounded-0 col-md-3 mb-4">
                <div class="card rounded-0 h-100">
                    
                        <% for(let img of pro.image){ %> 
                            <a href="/product/<%=pro._id %>"> <img class="card-img-top content-fit" style="object-fit:cover;" width="225px" height="400px" src="<%= img.url %>" alt="">
                            </a>
                        <% } %> 
                        
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <form style="display: inline;" action="/product/wishlist/<%=pro._id%>" method="post">
                                    <li><button type="submit" class="btn btn-success text-white"><i class="far fa-heart"></i></button></li>
                                </form>
                                <li><a class="btn btn-success text-white mt-2" href="/product/<%=pro._id %>"><i class="far fa-eye"></i></a></li>
                                <form action="/product/cart/<%=pro._id%>" method="post">
                                    <li><button  class="btn btn-success text-white mt-2" type="submit"><i class="fas fa-cart-plus"></i></button></li>
                                </form>
                            </ul>
                        </div>
                 
                    <div class="card-body" style="height: 140px;">
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark"><%= pro.productname %> </a>
                        <ul>
                            <li class="text-muted text-right"> <%= pro.price %>/-</li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted">24</li>
                        </ul>

                        
                        <!-- <p class="card-text">
                            <= pro.description %>
                        </p> -->

                    </div>
                </div>
            </div>
            <% } %> 
            
        </div>
    </div>
</section>
<!-- End Featured Product -->

