<% layout('/layouts/userbp') %>
<div class="p-5" >
  <h3>Order Summary</h3>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 m-2 px-0">
      <div class="card shadow-sm mb-3 p-3">
        <div class="row">
          <div class="col-6">
            1.Login
            <h5 class="ms-3"><%=username %></h5>
          </div>
          <div class="col-3 m-auto">
            <button class="btn shadow btn-secondary ms-auto">Change</button>
          </div>
        </div>
      </div>
      <div class="mb-3 p-3 shadow-sm card">
        <div class="row">
          <div class="ps-2 col-12 pb-2 mb-3 border-bottom">
            2.Delivery Address
          </div>
          <div class="col-8 pb-2">
            <div class="mb-3">
              <span class="btn btn-outline-secondary py-0"
                ><%=deliveryaddress.addresstype %>
              </span>
              <%=deliveryaddress.name %> <%=deliveryaddress.mobile %> <br />
              <%=deliveryaddress.address %> <%=deliveryaddress.cityDistrictTown
              %> <%=deliveryaddress.pincode %>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 shadow-sm p-2 card">
        <div class="row">
          <div class="ps-2 col-12 pb-2 mb-3 border-bottom">3.Order Summary</div>
        </div>
        <div class="row ">
          <div class="col-12">
            <a href="/product/<%=item._id %>">

                <div class="card mb-2 p-3">
                  <div class="row ">
                    <div class="col-md-3">
                      <% for(let img of item.image){ %>
                      <img
                        class="img-fluid"
                        width="100px"
                        height="100px"
                        src="<%= img.url %>"
                        alt=""
                      />
                      <% } %>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title"><%= item.productname %></h5>
                        <h6><%=item.category  %> </h6>
                        <small class="text-muted"> <%= item.price %> </small>

                        <div class="mb-3">
                        
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                        Delivery Time
                    </div>
                    <!-- <div class="row">
                        <div class="p-2">
                            <form
                            style="display: inline"
                            action="/product/wishlist/?_method=DELETE"
                            method="post"
                          >
                            <button type="submit" class="btn btn-danger">
                              Remove
                            </button>
                          </form>
                        </div>
                    </div> -->
                  </div>
                </div>
            </a>
          </div>
          <div class=" m-3 p-2 col-6">
            <a href="/product/payment" class="btn btn-success">Continue</a>
          </div>
          
        </div>
      </div>
      <div class="mb-3 shadow-sm p-2 card">Payment Options</div>
    </div>
    <div class="col-12 col-md-3 m-2 py-2 card" style="height: 15vmax">
      <div class="border-bottom mb-3">
        <h5 class="ms-3 text-secondary">Price Details</h5>
      </div>
      <div class="row mb-3">
        <div class="col-6">Price(<%=quantity %> item)</div>
        <div class="col-6"><%=totalPrice %></div>
      </div>

      
      <% if(checkoutType==='cart'){%> 
        <% if(couponApplied){ %> 
        <div class="row mb-3">
            <div class="col-6">Coupon Discount</div>
                <div class="col-6"><%=discountPrize %></div>
        </div>
        <% }%>
    <% } %> 
      
      <!-- <div class="row mb-3">
        <div class="col-6">Delivery Charges</div>
        <div class="col-6"><=deliveryCharge %></div>
      </div>
      <div class="row border-bottom mb-3">
        <div class="col-6">Packing Charges</div>
        <div class="col-6"><=packagingCharge %></div>
      </div> -->

      <div class="row border-top pt-2 mb-3">
        <div class="col-6">Total Payable</div>
        <div class="col-6"><%=total %></div>
      </div>
    </div>
  </div>
</div>
