<% layout('/layouts/userbp') %> 
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 col-6 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="<%=product.image[0].url %>" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <%for(let img of product.image){ %> 
                                                    <img class="card-img img-fluid" src="<%=img.url %>" alt="Product Image 1">
                                                <% } %> 
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <%for(let img of product.image){ %> 
                                                    <img class="card-img img-fluid" src="<%=img.url %>" alt="Product Image 1">
                                                <% } %> 
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <%for(let img of product.image){ %> 
                                                    <img class="card-img img-fluid" src="<%=img.url %>" alt="Product Image 1">
                                                <% } %> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 col-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2"><%= product.productname %></h1>
                            <p class="h3 d-inline py-2" id="productprice">₹<%= product.price %>  </p>
                            <div class="d-inline" id="priceDiv" style="visibility: hidden;">
                                <h2 id="offerPrice" class="d-inline text-primary text-center ms-3"></h2> 
                               <span class="d-inline" id="offerLabel"></span>   
                            </div>
                            <p class="py-2">
                                <%for(let i=1;i<=avgStar;i++){ %> 
                                <i class="fa fa-star text-warning"></i>
                                <% } %> 
                                <span class="list-inline-item text-dark">Rating <%=avgStar %>  | <%=totalReviews %>  Reviews</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong><%= product.category %></strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p><%= product.description %></p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Color :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>White / Black</strong></p>
                                </li>
                            </ul>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Lorem ipsum dolor sit</li>
                                <li>Amet, consectetur</li>
                                <li>Adipiscing elit,set</li>
                           
                            </ul>
                           
                                <input type="text" id="productid" value="<%=product._id %>" hidden>
                                <div class="row mt-3">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><input class="badge bg-secondary" type="text" value="1" id="var-value">1</input></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <!-- <a href="/product/checkout/<product._id%>" class="btn btn-success btn-lg" onclick="checkPrice()" >Buy</a>  -->
                                        <button  id="buyLink" class="btn btn-success" onclick="checkPrice()" class="btn btn-success btn-lg" >Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        
                                            <button  onclick="addToCart('<%=product._id%>')" class="btn btn-success btn-lg">Add To Cart</button>
                                        
                                    </div>
                                </div>
                            <!-- </form> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    <section class="py-5">
        <div class="container">

                <button class="btn btn-success btn-sm" disabled><%=avgStar %><span class = "fa fa-star checked"></span>  </button> 
                <span class="text-mute"><%=totalReviews %>&nbsp; reviews </span>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="text-center p-2">
               <h4>Rating & Reviews</h4> 
            </div>
            <% for(let i of product.reviews) { %>
                <div class="card col-6 mb-3 container"> 
                  <div class="card-body">
                    <h4> </h4>
                    <p class="starability-result" data-rating="<%= i.rating %>">
                      Rated: <%= i.rating %>  stars
                    </p>
                    
                    <h5>Review: <span class="text-muted"><%= i.body %> </span></h5>
                    <h6><%=i.author.username %> </h6>
                    <% if(userid.equals(i.author._id)){ %> 
                    <form action="/product/<%=product._id%>/review/<%=i._id%>?_method=DELETE" method="post">
                      <button class="btn btn-small btn-danger">Remove</button>
                    </form>
                    <% } %> 
                    
                </div>
              </div>
              <% } %> 
        </div>
    </section>

     <!-- Start Article -->
     <section class="py-5">
        <div class="container">
            <div class="row text-left p-2 pb-3">
                <h4>Related Products</h4>
            </div>

            <!--Start Carousel Wrapper-->
            <!-- related products -->
            <div id="carousel-related-product" class="row justify-content-between">
                
                
             
            </div>
        </div>
    </section>
    <!-- End Article -->
    <script src="/js/loadProduct.js"></script>
    <script src="/js/addtocart.js"></script>
    <script>

        function checkPrice(){
        const id = document.getElementById('productid').value;
        const buyButton = document.getElementById('buyLink');
            fetch('/product/checkout',{
                method:'POST',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({id})
            }).then(res=>res.json()).then(data=>{
                window.location.href=`/product/checkout/${id}`
    
            })
            .catch(err=>{
                window.location.reload();
            })
            
    }




    </script>