<% layout('/layouts/userbp') %> 

<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>wishlist</h4>
        </div>
<% for(let item of wish) {%>
    <a  href="/product/<%=item._id %>">
    <div>
       
        <div class="card  mb-3" >
            <div class="row align-items-center">
                <div class="col-md-4">
                    <% for(let img of item.image){ %> 
                    <img class="object-fit-content"
                    width="100px"
                    height="100px" src="<%= img.url %>" alt="">
                        <% } %> 
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.productname %> 
                        </h5>
                        <small class="text-muted ">
                            <%= item.price %> 
                        </small>
                       
                            <div class="mb-3">
                                <form style="display: inline;" action="/product/wishlist/<%=item._id%>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                            

                        </div>
                        
                         
                    </div>
    
                
                <div class="col-md-2">
                    <form style="display: inline;" action="/product/cart/<%=item._id%>" class="mb-3" method="post">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </a>
        <% } %> 
    </div>
    </section>